
table{
    position: relative;
    top: 30px;
    background-color: white;
    
}
th{
    background-color:#2196F3;
}
table, th, td  {
    
    margin: auto;
    width: 90%;
    border: 1px solid black;
    font-size: 20px;
    
}
#title{
 width:20%;
}
#album{
    width:20%;
    text-align:left;
    position: relative;
}
#artist{
    width:20%;
    text-align: left;
    position: relative;
}
#genre{
    width:20%;
    text-align: left;
    position: relative;
}